*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f6fa;
}
/* header styling */
.app_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px ;
}
.app {
    padding: 20px;
}
.app_left{
    flex: 0.8;
}

/* App right part styling */

/* table styling */
.table{
    margin-top: 40px;
    overflow: scroll ;
    height: 600px;
    color: #6a5d5d;
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
    padding: 0.5rem;
}
.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}



/* Responsive design */
/* overall layout design */
@media (max-width:786px) {
    .app{
        flex-direction: column;
    }
    
}